<!DOCTYPE html>
<html layout:decorate="~{fragments/layouts/main_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block layout:fragment="stylesheet_custom"/>
</head>
<body>

<main layout:fragment="content" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">Dashboard</h1>
        <div class="w-100 mb-4 pb-4 border-bottom">
            <p>Project progress</p>
            <div class="progress" style="height: 20px">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar"
                     th:style="'width: '+ ${donePercent} + '%'" th:attr="aria-valuenow=${donePercent}"
                     data-toggle="tooltip" data-placement="bottom" th:title="'Done (' + ${donePercent} +'%)'"
                     aria-valuemin="0" aria-valuemax="100">
                        <span th:if="${donePercent >= 9}">Done (<span th:text="${donePercent}"></span>%)</span>
                </div>

                <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" role="progressbar"
                     th:style="'width: '+ ${uploadingPercent} + '%'" th:attr="aria-valuenow=${uploadingPercent}"
                     data-toggle="tooltip" data-placement="bottom" th:title="'Uploading (' + ${uploadingPercent} +'%)'"
                     aria-valuemin="0" aria-valuemax="100">
                        <span th:if="${uploadingPercent >= 9}">Uploading (<span th:text="${uploadingPercent}"></span>%)</span>
                </div>

                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                     th:style="'width: '+ ${unzippedPercent} + '%'" th:attr="aria-valuenow=${unzippedPercent}"
                     data-toggle="tooltip" data-placement="bottom" th:title="'Unzipped (' + ${unzippedPercent} +'%)'"
                     aria-valuemin="0" aria-valuemax="100">
                        <span th:if="${unzippedPercent >= 9}">Unzipped (<span th:text="${unzippedPercent}"></span>%)</span>
                </div>

                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar"
                     th:style="'width: '+ ${unzippingPercent} + '%'" th:attr="aria-valuenow=${unzippingPercent}"
                     data-toggle="tooltip" data-placement="bottom" th:title="'Unzipping (' + ${unzippingPercent} +'%)'"
                     aria-valuemin="0" aria-valuemax="100">
                        <span th:if="${unzippingPercent >= 9}">Unzipping (<span th:text="${unzippingPercent}"></span>%)</span>
                </div>

                <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar"
                     th:style="'width: '+ ${downloadedPercent} + '%'" th:attr="aria-valuenow=${downloadedPercent}"
                     data-toggle="tooltip" data-placement="bottom" th:title="'Downloaded (' + ${downloadedPercent} +'%)'"
                     aria-valuemin="0" aria-valuemax="100">
                        <span th:if="${downloadedPercent >= 9}">Downloaded (<span th:text="${downloadedPercent}"></span>%)</span>
                </div>

                <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar"
                     th:style="'width: '+ ${downloadingPercent} + '%'" th:attr="aria-valuenow=${downloadingPercent}"
                     data-toggle="tooltip" data-placement="bottom" th:title="'Downloading (' + ${downloadingPercent} +'%)'"
                     aria-valuemin="0" aria-valuemax="100">
                        <span th:if="${downloadingPercent >= 9}">Downloading (<span th:text="${downloadingPercent}"></span>%)</span>
                </div>

                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar"
                     th:style="'width: '+ ${pendingPercent} + '%'" th:attr="aria-valuenow=${pendingPercent}"
                     data-toggle="tooltip" data-placement="bottom" th:title="'Pending (' + ${pendingPercent} +'%)'"
                     aria-valuemin="0" aria-valuemax="100">
                        <span th:if="${pendingPercent >= 9}">Pending (<span th:text="${pendingPercent}"></span>%)</span>
                </div>
            </div>
        </div>
        <div class="w-100">
            <p>Please set status following this process below</p>
            <p class="mb-0">
                <span th:each="item : ${statusList}"
                      th:if="${item.value != 'ALL' && item.value != 'SKIPPED'}">

                    <span data-feather="arrow-right"
                          th:if="${item.value != 'PENDING'}"
                          class="text-secondary">

                    </span>
                    <a th:href="@{/file(fileStatus = ${item.value})}"
                        th:class="${'btn mb-0 mb-1 btn-sm '} +
                        ${item.value == 'DONE'? 'btn-success ' : ' '} +
                        ${item.value == 'UPLOADING'? 'btn-dark ' : ' '} +
                        ${item.value == 'UNZIPPED'? 'btn-primary ' : ' '} +
                        ${item.value == 'UNZIPPING'? 'btn-danger ' : ' '} +
                        ${item.value == 'DOWNLOADED'? 'btn-info ' : ' '} +
                        ${item.value == 'DOWNLOADING'? 'btn-warning ' : ' '} +
                        ${item.value == 'PENDING'? 'btn-secondary ' : ' '}">
                            <th:block th:text="${item.name}">
                            </th:block>
                            <span class="badge badge-light"
                                th:text="${item.value == 'DONE'? doneCount : ''} +
                                ${item.value == 'UPLOADING'? uploadingCount : ''} +
                                ${item.value == 'UNZIPPED'? unzippedCount : ''} +
                                ${item.value == 'UNZIPPING'? unzippingCount : ''} +
                                ${item.value == 'DOWNLOADED'? downloadedCount : ''} +
                                ${item.value == 'DOWNLOADING'? downloadingCount : ''} +
                                ${item.value == 'PENDING'? pendingCount : ''}">
                            </span>
                    </a>
                </span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Pending | <span th:text="${pendingCount} + ' file(s)' "></span> </th>
                    <th class="text-right" th:if="${pendingCount > 0}">
                        <a th:href="@{/file(fileStatus = ${pendingParam})}"
                            class="text-secondary">
                            See All
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="file : ${pendingFiles}">
                    <td th:text="${file.name}"></td>
                    <td class="text-right">
                        <button type="button" class="btn btn-sm btn-outline-secondary copyBtns"
                                th:data-clipboard-text="${file.name}">
                            <span class="text-small" data-feather="clipboard"></span>
                        </button>
                    </td>
                </tr>

                <tr th:if="${!(pendingCount > 0)}">
                    <td class="text-center tableNoItem">
                        <span class="text-muted">- No Item -</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-lg-6 table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Downloading | <span th:text="${downloadingCount} + ' file(s)' "></span> </th>
                    <th class="text-right" th:if="${downloadingCount > 0}">
                        <a th:href="@{/file(fileStatus = ${downloadingParam})}"
                            class="text-secondary">
                            See All
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="file : ${downloadingFiles}">
                    <td th:text="${file.name}"></td>
                    <td class="text-right" th:if="${downloadingFiles.size > 0}">
                        <button type="button" class="btn btn-sm btn-outline-secondary copyBtns"
                                th:data-clipboard-text="${file.name}">
                            <span class="text-small" data-feather="clipboard"></span>
                        </button>
                    </td>
                </tr>
                <tr th:if="${!(downloadingCount > 0)}">
                    <td class="text-center tableNoItem">
                        <span class="text-muted">- No Item -</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-lg-6 table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Unzipping | <span th:text="${unzippingCount} + ' file(s)' "></span> </th>
                    <th class="text-right" th:if="${unzippingCount > 0}">
                        <a th:href="@{/file(fileStatus = ${unzippingParam})}"
                            class="text-secondary">
                            See All
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="file : ${unzippingFiles}">
                    <td th:text="${file.name}"></td>
                    <td class="text-right">
                        <button type="button" class="btn btn-sm btn-outline-secondary copyBtns"
                                th:data-clipboard-text="${file.name}">
                            <span class="text-small" data-feather="clipboard"></span>
                        </button>
                    </td>
                </tr>

                <tr th:if="${!(unzippingCount > 0)}">
                    <td class="text-center tableNoItem">
                        <span class="text-muted">- No Item -</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-lg-6 table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Uploading | <span th:text="${uploadingCount} + ' file(s)' "></span> </th>
                    <th class="text-right" th:if="${uploadingCount > 0}">
                        <a th:href="@{/file(fileStatus = ${uploadingParam})}"
                           class="text-secondary">
                            See All
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="file : ${uploadingFiles}">
                    <td th:text="${file.name}"></td>
                    <td class="text-right">
                        <button type="button" class="btn btn-sm btn-outline-secondary copyBtns"
                                th:data-clipboard-text="${file.name}">
                            <span class="text-small" data-feather="clipboard"></span>
                        </button>
                    </td>
                </tr>
                <tr th:if="${!(uploadingCount > 0)}">
                    <td class="text-center tableNoItem">
                        <span class="text-muted">- No Item -</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<th:block layout:fragment="script_custom"/>

</body>
</html>
