<th:block th:fragment="_footTag" xmlns:th="http://www.w3.org/1999/xhtml">
    <script th:src="@{/assets/vendors/jquery/jquery.min.js}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script th:src="@{/assets/vendors/bootstrap/js/bootstrap.bundle.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
    <script th:src="@{/assets/js/main.js}"></script>
    <script th:src="@{/assets/js/search.js}"></script>
</th:block>
