<!doctype html>
<!--suppress ALL -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/partials/_headTag :: _headTag"/>

    <!-- Custom stylesheet for this page-->
    <th:block layout:fragment="stylesheet_custom"/>
    <!-- End custom stylesheet for this page-->
    <script src="https://kit.fontawesome.com/f4bb5974c6.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="loader bg-light">
    <i class="fas fa-circle-notch text-dark fa-spin fa-6x mx-auto"></i>
</div>
<form th:replace="fragments/partials/_navbar :: _navbar"
     class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow"/>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="fragments/partials/_sidebar :: _sidebar"
             id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"/>
        <main layout:fragment="content" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4"></main>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog"
     aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Jump to page</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <th:block layout:fragment="model_content"/>
            </div>
        </div>
    </div>
</div>



<th:block th:replace="fragments/partials/_footTag :: _footTag"/>


<!-- Custom js for this page-->
<th:block layout:fragment="script_custom"/>
<!-- End custom js for this page-->
<script type="text/javascript">
    $(`.logout-btn`).click((e) =>{
        e.preventDefault();
        $(`#logout-form`).submit();
    });
</script>
</body>
</html>
