<!DOCTYPE html>
<html layout:decorate="~{fragments/layouts/authen_layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block layout:fragment="stylesheet_custom">
        <link th:href="@{/assets/css/authen.css}" rel="stylesheet">
    </th:block>
</head>
<body class="text-center">
<th:block layout:fragment="content">
    <form class="form-signin" th:action="@{/login}" method="post" th:object="${loginModel}" action="#" novalidate>
        <img class="mb-4" th:src="@{/assets/img/bootstrap-solid.svg}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">File Manager</h1>

        <label for="fileName" class="sr-only">Username</label>
        <input th:field="*{fileName}" th:value="*{fileName}"
               type="text" id="fileName" class="form-control" placeholder="Username" autofocus>

        <label for="password" class="sr-only">Password</label>
        <input th:field="*{password}" th:value="*{password}"
               type="password" id="password" class="form-control" placeholder="Password">

        <div class="form-group mb-0">
            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                User or Password incorrect
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</th:block>
</body>
</html>
